body {background-color:lightgrey;
    font-family: sans-serif;}

.navbar {
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    border-bottom: black;
    border-width: .5;
    border-style: solid;}

.navbar-brand {text-decoration: none;
    font-size: 40px;}

.navbar-light .navbar-brand { color:seagreen;}

.img-thumbnail {width: 90%;}

.img_col_vis {margin-right: -13%;}

.col_plot {align-items: center;}

.col_vis {margin-top: 2%;
        align-items:center;}

#vis_header {color:firebrick;
    margin-top: 3%;}

#vis_header-2 {color:darkgreen;
    margin-top: 3%;}  

#vis_header-3 {color:blue;
    margin-top: 3%;}  

#vis_header-4 {color:darkgoldenrod;
    margin-top: 3%;}  

.thumbnail {width: 60%;}

.h4 {padding-top: 1.5%;}

.comp_row {margin-left: 5%;}

.comp_col-2 {margin-left: 0%;}

/* #data_row-1 {border-bottom: lightgrey;
    border-width: .1pt;
    border-bottom-style: solid;
   } */

#data_header {font-size: 35;
    color:seagreen;
    background-color: white;
    margin-bottom: -2.25%;}

#data_cap {background-color: white;}

.thc {background-color:seagreen;}