body {background-color: #f5f5f5;
    font-family: sans-serif;}

.navbar {color:black;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    border-bottom: black;
    border-width: .5;
    border-style: solid;
    height: 10%}

.navbar-brand {color:black;
    background-color: white;
    text-decoration: none;
    font-size: 40px;}

.nav-link {color:black;}

.dropdown-toggle .icon-bars-button{
    display: inline-block;
    vertical-align:middle;
  }
  .dropdown-toggle .icon-bar {
    margin-bottom:2px;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
  }


/* .dropdown {display:inline-block;
  } */


/* .land_text {margin-left: 0%;}  */
/* 

    .header_row-1 {background-color: white;
    padding: .2%;
    color:black;}

h1 {align-items: center;    
    margin-left:6%;} */ */

/* .nav-1 {
    color: black;
    font-size:14pt;
    margin-right: 10%;}

.dropdown {display:inline-block;} */

/* #land_row-1 {padding-bottom: 0;}

#land_row-2 {margin-left: -1%;
    margin-bottom: 0;}
    
#land_col-1_text {text-align-last;}

.text_col {margin-left: -8%;} */

/* .img_col {margin-left: 3%;}  

.img_thumb {border-width: 2%;}

.img_col-3 {margin-top: 3%;}     */



.img_col_vis {margin-right: -13%;
    }

.col_plot {align-items: center;}

.col_vis {margin-top: 2%;
        align-items:center;}

#vis_header {color:firebrick;
    margin-top: 3%;}

#vis_header-2 {color:darkgreen;
    margin-top: 3%;}  

#vis_header-3 {color:blue;
    margin-top: 3%;}  

#vis_header-4 {color:darkgoldenrod;
    margin-top: 3%;}  

.comp_title {text-align: center;
    padding-top: 2%}

.comp_img {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 264px;}

#data_row-1 {border-bottom: lightgrey;
    border-width: .5pt;
    border-bottom-style: solid;
    height: 7%;}

#data_header {font-size: 35;
    margin-left: 1%;
    color:seagreen;}

#data_cap {margin-left: 2%;}

.thc {background-color:seagreen;}